# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo

# Virtual environments
venv/
ENV/
env/
.venv/

# VSCode
.vscode/

# macOS
.DS_Store

# dotenv
.env

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/
